.user-card {
    background-color: darkolivegreen;
    color: white;
    padding: 10px;
    border-radius: 4px;
    display: inline-block;
    margin: 6px;
    transition: .2s;
}

.user-card h4 {
    text-align: center;
}

.user-card:hover {
    transform: scale(1.1);
    box-shadow: 1px 1px 6px black;
}

.user-card.admin {
    background-color: brown;
}